# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
coverage.txt
feishu-darwin-amd64.zip
feishu-linux-amd64.zip
feishu-windows-386.zip
feishu-windows-amd64.zip
